/**------------------- 
**     FONTS
--------------------*/
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter Regular'), local('Inter-Regular'),
    url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../assets/fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: local('Inter Light'), local('Inter-Light'),
    url('../assets/fonts/inter-v12-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../assets/fonts/inter-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local('Inter Medium'), local('Inter-Medium'),
    url('../assets/fonts/inter-v12-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../assets/fonts/inter-v12-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local('Inter Bold'), local('Inter-Bold'),
    url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../assets/fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
/* img,
picture {
  max-width: 100%;
  display: block;
} */
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**------------------- 
**     GLOBAL
--------------------*/
:root {
  --clr-quote: 240, 38%, 20%;
  --clr-fig-title: 240, 18%, 77%;
  --hsla: 1;
}

body {
  font-family: 'Inter', sans-serif;
}

blockquote {
  font-size: 1.125rem;
  font-size: clamp(
    1.125rem,
    0.8169014084507042rem + 1.3145539906103285vw,
    2rem
  );

  line-height: 1.5rem;
}

figcaption {
  font-size: 0.9375rem;
  font-size: clamp(
    0.9375rem,
    0.8274647887323944rem + 0.4694835680751174vw,
    1.25rem
  );
}

ul {
  list-style: none;
}

@media only screen and (min-width: 48em) {
  blockquote {
    line-height: 2.75rem;
  }
}

/**------------------- 
**  COMPOSITIONS
--------------------*/
/* center horizontally */
.center {
  --measure: 90rem;

  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

/* center vertically */
.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: 1rem;
}

.cover > * {
  margin-block: 1rem;
}

.cover > :first-child:not(.centered) {
  margin-block-start: 0;
}

.cover > :last-child:not(.centered) {
  margin-block-end: 0;
}

.cover > .centered {
  margin-block: auto;
}

/**------------------- 
**    UTILITIES
--------------------*/
/* bg-colour */
.bg-quote {
  background-color: hsl(var(--clr-quote), var(--hsla));
}

.bg-fig-title {
  background-color: hsl(var(--clr-fig-title), var(--hsla));
}

/* text-colour */
.text-quote {
  color: hsl(var(--clr-quote), var(--hsla));
}

.text-fig-title {
  color: hsl(var(--clr-fig-title), var(--hsla));
}

/* font weights */
.fw-light {
  font-weight: 300;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

/* for screen reader */
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/**------------------- 
**     BLOCKS
--------------------*/
/** CAROUSEL */

/**------------------- 
**    EXCEPTIONS
--------------------*/
