/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
/* img,
picture {
  max-width: 100%;
  display: block;
} */
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */

  /* FONT FAMILY */

  /* FONT SIZE */

  /* FONT WEIGHT */

  /* BREAKPOINTS */
}

/**------------------- 
**     GLOBAL
--------------------*/

/**------------------- 
**  COMPOSITIONS
--------------------*/
/* center horizontally */
.center {
  --measure: 90rem;

  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

/* center vertically */
.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: 1rem;
}

.cover > * {
  margin-block: 1rem;
}

.cover > :first-child:not(.centered) {
  margin-block-start: 0;
}

.cover > :last-child:not(.centered) {
  margin-block-end: 0;
}

.cover > .centered {
  margin-block: auto;
}

/**------------------- 
**    UTILITIES
--------------------*/
#hover {
  display: none;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/**------------------- 
**     BLOCKS
--------------------*/
/** CAROUSEL */

/**------------------- 
**    EXCEPTIONS
--------------------*/
